aniso8601==6.0.0
asn1crypto==0.24.0
attrs==19.1.0
cffi==1.12.3
Click==7.0
cryptography==2.6.1
Flask==1.0.3
Flask-Cors==3.0.7
Flask-JWT-Extended==3.18.2
flask-redis==0.4.0
flask-restplus==0.12.1
Flask-SQLAlchemy==2.4.1
futures==3.1.1
inotify-simple==1.1.8
itsdangerous==1.1.0
Jinja2==2.10.1
jsonschema==3.0.1
MarkupSafe==1.1.1
psycopg2-binary==2.8.5
pycparser==2.19
PyDbLite==3.0.4
PyJWT==1.7.1
pyrsistent==0.15.2
pytz==2019.1
redis==3.2.1
simplejson==3.16.0
six==1.12.0
SQLAlchemy==1.3.17
sqlalchemy-cockroachdb==0.4.0
Werkzeug==0.15.4
